<connectionStrings>
  <remove name="umbracoDbDSN" />
  <add name="umbracoDbDSN" connectionString="server=< SERVER IP >;database=< DATABASE >;user id=< DATABASE USER >;password=< PASSWORD >" providerName="System.Data.SqlClient" />
</connectionStrings>

<!-- ADD THIS IN WEB.CONFIG
<connectionStrings configSource="ConnectionStrings.config"></connectionStrings>
-->